
a {
    text-decoration: none;
}
a:hover{
    /* border-bottom: 2px solid red; */
    color: red !important;
    
}
.menu-title:hover {
    border-bottom: 2px solid red;
}
.navbar-brand img{
    width: 35%;
}
